<section class="centered w-75 mx-auto">
  <h4 class="title c-green-juicy">User Login</h4>
  <form action="/login" method="post" class="flex column center w-75">
    <div class="input-field flex column mx-auto my-1">
      <label for="title">Enter Your Email</label>
      <input class="mt-1" type="email" name="email">
    </div>
    <div class="input-field flex column mx-auto my-1">
      <label for="title">Enter Your Password</label>
      <input class="mt-1" type="password" name="password">
    </div>
    <button class="button round success mx-auto" type="submit">
      <h5>Login</h5>
    </button>
  </form>
</section>