<section class="centered mx-auto">
  <h1 class="title">The Life And The Movie</h1>
  <img class="main-banner" src="/images/lamp.png" />
  <h3>My point of view on some interesting things.</h3>
  <a href="/posts" ><h4 class="c-green-juicy">My Latest Publications</h4></a>
</section>